<include file="Public/header.html" />

<div class="main-content">
    <div class="page-content-area">
        <div class="page-content">
            <div class="col-xs-12">
            <form class="form-horizontal" role="form" method="post" action="__URL__/insert">
                <!-- #section:elements.form -->


                <div class="space-4"></div>

                <div class="space-4"></div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-4">分类名称</label>

                    <div class="col-sm-9">
                        <input name="kindname" class="input-sm" type="text" id="form-field-4" placeholder="请输入新增分类名称" />
                        <div class="space-2"></div>

                        <div class="help-block" id="input-size-slider"></div>
                    </div>
                </div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="submit">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Submit
                        </button>

                    &nbsp; &nbsp; &nbsp;<button class="btn" type="reset">
                            <i class="ace-icon fa fa-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>


            </form>
                <!--<form action="__URL__/insert" method="post">-->
                    <!--<input type="text" name="name">-->
                    <!--<button type="submit">222</button>-->
                <!--</form>-->
            </div>
        </div>
    </div>

</div>

<include file="Public/footer.html" />